files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
MIIDEDCCAfgCCQCKuCf6for0ZjANBgkqhkiG9w0BAQsFADBKMQswCQYDVQQGEwJV
UzERMA8GA1UECAwITmV3IFlvcmsxFjAUBgNVBAcMDU5ldyBZb3JrIENpdHkxEDAO
BgNVBAoMB2x1Y2lkUUwwHhcNMjAwOTIyMjMwMTAyWhcNMjAxMDIyMjMwMTAyWjBK
MQswCQYDVQQGEwJVUzERMA8GA1UECAwITmV3IFlvcmsxFjAUBgNVBAcMDU5ldyBZ
b3JrIENpdHkxEDAOBgNVBAoMB2x1Y2lkUUwwggEiMA0GCSqGSIb3DQEBAQUAA4IB
DwAwggEKAoIBAQC2BP4BV1OHUKule8pvhmcrxOCfM/cbqLcEDVyHhuVCwK66O/Kx
yL/Gae1dTWbPQ2NORD7bTGe7vNst/vkAaXRVWA9vm2dlKX85Zyu/gH3kdb9gMaLg
ZZAoIFR15PrIyOWjsCsHhajpF+83MNt2BKfYv7S1kbQ1AgGpO5NT9U3SJqkjRoVr
HIG+uArIhUfseHsdWUGvK0f0209ip6Gkm8A1E3AWo9Wgyb9cUnupOzpWVdX7ySdI
fkTPX+ZLSv7UhTugq38G5E2SfmOvawesCcd29UA3D9FDZhriKv5JwrXqVOZLR5dv
pVslrUsmA2U604/sEfWrh7th8mGL3CH6DRIfAgMBAAEwDQYJKoZIhvcNAQELBQAD
ggEBAKarMtZEbTQ3dtrTpm16m+bXIRDaXK+bKr9LdlfXd4Ua2ZIMDI2M2SYBrTFI
eslQdAD0GGI37WGhex7z0vDmujZJkI4Krddtz2a7/SdYRE2O1LYkqJvlDeil1arG
xbkJIoJDNGFgitq9MiMEdFzHuUE5b2vTUrh35/noZSlDyl1KvgxXXkrqNFtMktfW
4GVrZ8mgXbGqJxfv4Qk2gBMbtB2fqsDaTYc0ySsRm8OabvGkSJBR2+fAa7drF8KP
g8LnYsIJXgfa5fzqzjQrm1OuK0OwNE5ODETgdr4wsVeImQUfcyzdC+6YNmT0VwJS
43KMLwkFb59ZnFYEoKO9oPFJF3A=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQC2BP4BV1OHUKul
e8pvhmcrxOCfM/cbqLcEDVyHhuVCwK66O/KxyL/Gae1dTWbPQ2NORD7bTGe7vNst
/vkAaXRVWA9vm2dlKX85Zyu/gH3kdb9gMaLgZZAoIFR15PrIyOWjsCsHhajpF+83
MNt2BKfYv7S1kbQ1AgGpO5NT9U3SJqkjRoVrHIG+uArIhUfseHsdWUGvK0f0209i
p6Gkm8A1E3AWo9Wgyb9cUnupOzpWVdX7ySdIfkTPX+ZLSv7UhTugq38G5E2SfmOv
awesCcd29UA3D9FDZhriKv5JwrXqVOZLR5dvpVslrUsmA2U604/sEfWrh7th8mGL
3CH6DRIfAgMBAAECggEBAK+K7wGSG8+jwHbPhXO7dqLitBM2RbpaI294B2X5df/D
3n9js3M8fZ+4pyBVtrJrdkmUTd6nuF96CxQ4FCMOkRCB5hkoEjahJ77PvoRpQoDk
AlaeaEvsB3R7gZlV5XthLP+JtmYBxN5Qo/dhWjZe1RWYBYsa42Y/8iQpfbP6Hzxt
RboeD5lcbuKtEajRdoQUagdRK08VxrcbTCNo5ACqBnlXwJXbf80qwCRNdxgHuGpC
8d6MPhevGMzKbVLRk9YsNqS9nth6lhlwkg/5GN6AkP4MD9TqBJSZ7Dlzuwl2VYHD
ou7ELoA/IsbypcvrVSnU2g38oLJ80frZHtiIetBVWwECgYEA46gkKfRPmjXJAkJJ
jeodGYYjIeMGvtZ20IqrBjscIPwRQjxu+nbgt4pqKd4Ie648SZv6EiEEZXoOX8Ud
/KQnhFMKA5/s4a+tDmAUfs/ISpAGeu5XyVvfX6yf6hFDS51cZJqCkGt1quSvkprX
T4/Zx6UvDIDH32w9JyxIckV9yp8CgYEAzK5Ne2tYkwyKbBPS2bqja20I40XIBvyY
wXPIKn/R1rTYjN/Q2OBrTr6ob7Yd+hx64oniE3UZeylRqaja4LGgpvj6aprsEfLe
1LXVp4CrGxvdsvXmEJHOt9unpd13Jxj0vr5H8MY78t1uxSqKEVh0X6RLxD5ujzhJ
W3c+4B2LCIECgYEA1jhxFz167kxwQnznw++pxEvRoWCFB2y9zwy9VBapKGypPN+r
OmpEmNFZht4Us3VH66gnT4ncHjUVc48D4akCOmT9Rl3lxJTPznggsReKjIcsYd8H
okWeUuQYcmQeI/gGafBurcFArzeT8utbcdWWA2Rvel9wNNAgV003OrgjX1cCgYAD
LFCXMTrWTMN4mXYTWgleiPoyS8qmERRtK1ZXElQ2d+dDh9S9B/2h4uLJmJEuZ3Kg
QHL4yj/y4NkbQDrkcNyEuidnr68pOBKsSYVea2g7q1rsg1NlvlzuDMG0mJJYUNK6
gkirOueDBFvLQrWRP0XOlcV27WDZZ437lQWsg8i8AQKBgQCkl4r5m/eN/x/EGqzB
380Ypi/uQSwJ8qmzRnxZqU7AwFn4G5LjqLROBlqa9+Pv5DiR6ftwAN2cE20HSfa5
fD1pMsOjAiQyCs1XvoF7GBg1XzRh+yQElDBrVQmwxYYj15EQa0ynd2rJtNT593YU
t8CeRVhz1ry4ncA3hiFQNN/Vow==
      -----END RSA PRIVATE KEY-----