.App {
    font-family: sans-serif;
    text-align: center;
  }
  .graph-div {
    display: flex;
    width: 80rem;
    height: 50rem;
    border: none;
    padding: 1rem;
    display: block;
    margin: 0 auto;
  }
  .vis-react-title {
    text-align: center;
  }
  